@import "../scss/media_mixins";
@import "../scss/mixins";
@import "../scss/vars";

body {
    background-image: url(../img/pattern-day-bg.svg);
    background-color: $color-232323;
    background-repeat: repeat;
    background-position: center;
}

header {
    background: $gradient-7;
}

.btn {
    color: $color-FBFBFF;

    &:hover {
        background: $color-E2C391;
    }

    &_with-bg {
        background: fade-out($color-0A0908, 0.3);
    }

    svg {

        #btn-gradient {
            --color-stop-1: #E2C391;
            --color-stop-2: #715B37;
            --color-stop-3: #E2C391;
        }
    }
}

.mob-switch {
    border: 2px solid $color-E2C391;

    &::after {
        border: 1px solid $color-E2C391;
    }

    span {
        background: $color-FBFBFF;
    }
}

.mob-menu {
    background: $gradient-11;
}

.phone {
    background-image: $gradient-6;
    color: $color-E2C391;
}

.menu {
    li {
        a {
            &:hover {
                color: $color-E2C391;

                &::after {
                    background: $color-E2C391;
                }

            }
        }
    }
}

.menu-block {
    &__adress {
        color: $color-ECE5F0;
    }

    &__copiright {
        color: $color-ECE5F0;
    }
}

.logo {
    background: url(../img/nav-logo-day.svg);
}

.day-night-switch {

    span {
        color: $color-ECE5F0;

        &:first-child {
            background-image: $gradient-6;
            color: $color-E2C391;
        }
    }
}

.date-time {

    span {
        &:last-child {
            color: $color-E2C391;
        }
    }
}

.title-block {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: url(../img/hookah-for-title.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        width: 193px;
        height: 50px;
        display: block;

        @include tablet {
            display: none;
        }
    }

    &::before {
        left: -223px;
    }

    &::after {
        right: -223px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    &__title {
        color: $color-E2C391;
    }

    &__subtitle {
        color: $color-ECE5F0;
    }
}


.title-top-block {

    .title-block {

        &::before,
        &::after {
            display: none;
        }
    }
}

.main-top-block {
    .title-block {
        top: 0;
        bottom: 0;

        &::before,
        &::after {
            display: none;
        }
    }
}

.dawn-arrow {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-E2C391;
    margin-bottom: 35px;
    text-shadow: $shadow-1;

    &::after {
        content: '';
        display: block;
        background: url(../img/dawn-arrow-day.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        width: 58px;
        height: 33px;
        margin-top: 5px;
    }
}

.food-menu {
    background: url(../img/food-menu-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: $shadow-2;
    padding: 42px;
    margin-top: 69px;

    @include mobile_md {
        padding: 15px;
    }

    @include tablet_md {
        padding: 22px;
    }

    .food-menu-items {
        border-bottom: 2px solid fade-out($color-828A95, 0.93);
        padding: 0 40px 37px 40px;
        width: 80%;
        justify-content: space-between;
        flex-wrap: wrap;

        @include tablet_md {
            width: 90%;
        }

        @include desktop {
            padding: 0;
            padding-bottom: 40px;
        }

        @include desktop_xl {
            padding-left: 30px;
            padding-right: 30px;
        }

        &__item {
            flex-direction: column-reverse;
            text-align: center;
            margin-top: 72px;
            margin-right: 50px;

            @include mobile_sm {
                margin-top: 30px;
            }

            @include mobile_md {
                width: 100%;
                margin-top: 40px;
            }

            @include desktop {
                width: 50%;
                margin-right: 0;
                margin-top: 55px;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        &__text {
            margin-top: 75px;

            @include mobile_sm {
                margin-top: 30px;
            }

            @include mobile_md {
                margin-top: 40px;
            }

            @include desktop {
                margin-top: 50px;
            }
        }
    }
}

.food-menu-block {
    flex-direction: column;
    background: fade-out($color-1E1E1E, 0.08);
    padding-bottom: 63px;

    &__text-bg {
        top: 32%;
        width: 100%;
        max-width: 1454px;

        @include desktop {
            top: 0;
            bottom: 0;
        }
    }

    .title-block {
        display: flex;
        align-items: center;
        width: 80%;
        margin-top: 84px;
        margin-bottom: 40px;

        @include tablet_md {
            width: 90%;
        }

        &::before,
        &::after {
            content: '';
            position: relative;
            right: initial;
            left: initial;
            height: 2px;
            width: 100%;
            background: fade-out($color-828A95, 0.93);
            display: block !important;
        }

        &__title {
            white-space: nowrap;
            margin: 0 36px;
        }
    }
}

.food-menu-page-block {

    &__list {

        li {
            border-bottom: 1px dashed $color-E2C391;
        }

    }

    .food-menu-items {
        &__icon {
            background: fade-out($color-232323, 0.3);
            border: 1px solid fade-out($color-512D1D, 0.3);
            box-shadow: $shadow-2;
        }

        &__text {
            text-shadow: $shadow-2;
        }

        &__dropdown {
            text-shadow: $shadow-2;
        }
    }
}

.food-menu-items {

    &__icon {
        background: fade-out($color-783519, 0.8);
        border: 1px solid fade-out($color-512D1D, 0.8);

        width: 164px;
        height: 164px;

        @include mobile_sm {
            width: 80px;
            height: 80px;
        }

        @include tablet_sm {
            width: 90px;
            height: 90px;
        }

        @include desktop {
            width: 130px;
            height: 130px;
        }

        @include desktop_xl {
            width: 144px;
            height: 144px;
        }

        &::before {
            background: fade-out($color-262626, 0.3);
            border: 2px solid fade-out($color-512D1D, 0.3);
        }

        i {

            &#food {
                background: url(../img/food-icon-day.svg);
            }

            &#bar {
                background: url(../img/bar-icon-day.svg);
            }

            &#hookah {
                background: url(../img/hookah-icon-day.svg);
            }

            &#wine {
                background: url(../img/wine-icon-day.svg);
            }
        }
    }

    &__text {
        color: $color-FBFBFF;
        height: 45px;
    }
}

.promotions {
    padding-top: 123px;

    @include tablet_md {
        padding-top: 80px;
    }

    &_page {
        .promotions {
            &__item {
                width: 31.333%;

                @include tablet_md {
                    width: 100%;
                }

                @include desktop {
                    width: 48.8%;
                }
            }
        }
    }

    &__item {
        box-shadow: $shadow-2;

        &::before {
            background: $gradient-8;
        }

        &::after {
            border: 1px solid $color-E2C391;
        }

        &.promotions {
            &__item {
                &_content {
                    width: 63%;
                }

                &_bottom {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                }
            }
        }
    }

    .swiper-buttons {
        padding-top: 211px;

        .swiper-button-next,
        .swiper-button-prev {
            background: url(../img/left-arrow-day.svg);
        }
    }

    &__back {

        &::before {
            background: url(../img/left-arrow-day.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center;
        }
    }
}

.food-menu-switch,
.close-popup {

    span {

        &::before,
        &::after {
            background: $color-E2C391;
        }
    }
}

.food-menu-switch {
    color: $color-E2C391;

    span {
        background: $color-E2C391;
    }
}

.gallery {
    padding-top: 135px;
    padding-bottom: 99px;

    @include tablet_md {
        padding-top: 80px;
        padding-bottom: 200px;
    }

    @include tablet {
        padding-bottom: 230px;
    }

    &_gallery-page {
        padding-top: 0 !important;
        padding-bottom: 99px !important;
    }
}

.gallery-items {
    position: relative;
    box-shadow: $shadow-2;

    &__item {
        width: 33.333%;

        @include tablet_sm {
            width: 100%;
        }

        @include desktop {
            width: 50%;
        }

        &::after {
            border: 1px solid $color-E2C391;
        }
    }

    .btn {
        position: absolute;
        bottom: 20px;
        right: 20px;
        z-index: 2;

        @include tablet {
            bottom: -100px;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
}

.about-us {
    background: url(../img/about-us-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: $shadow-2;
    padding: 40px;

    @include mobile_md {
        padding: 15px;
    }

    @include tablet_md {
        padding: 20px;
    }
}

.about-us-block {
    position: relative;
    align-items: center;
    background: fade-out($color-1E1E1E, 0.08);
    padding: 30px;
    padding-bottom: 80px !important;

    @include mobile_md {
        padding: 10px;
    }

    @include tablet_md {
        padding: 15px;
    }

    &::before,
    &:after {
        content: '';
        position: absolute;
        left: 0;
        margin: auto;
    }

    &::before {
        top: 0;
        bottom: 0;
        background: url(../img/about-us-bg-2.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        width: 402px;
        height: 402px;
    }

    &:after {
        right: 0;
        bottom: 50px;
        width: 90%;
        height: 2px;
        background: fade-out($color-828A95, 0.93);
    }

    .title-block {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 20px;

        &::before,
        &::after {
            content: '';
            position: relative;
            right: initial;
            left: initial;
            height: 2px;
            width: 100%;
            background: fade-out($color-828A95, 0.93);
            display: block !important;
        }

        &__title {
            white-space: nowrap;
            margin: 0 36px;
        }
    }

    &__text {
        width: 55%;

        @include desktop {
            order: 2;
        }
    }

    &__video {
        width: 40%;

        @include desktop {
            order: 1;
            margin-bottom: 25px;
        }

        &::before {
            right: 13px;
            border: 1px solid $color-E2C391;
        }
    }
}

.club-scheme {
    padding-top: 55px;
    background: url(../img/club-shame-bg-day.png);
    box-shadow: $shadow-2;

    &::after {
        background: url(../img/pattern-day-bg-2.svg);
        background-repeat: repeat;
        width: 100%;
        height: 100%;
        opacity: 0.3;
        z-index: 1;
    }

    &__title-block-wrapper {
        width: 100%;
    }
}

.form-block {

    form {

        input {
            border-bottom: 1px solid $color-715B37;
            color: $color-FBFBFF;
        }
    }
}

.map-contacts-block {

    &__content {

        &::before {
            background-image: url(../img/pattern-day-bg-2.svg);
            background-repeat: repeat;
            background-position: center;
        }

        .date-time {

            span {
                &:last-child {
                    color: $color-E2C391;
                }
            }
        }
    }
}

.form-popup {
    .title-block {

        &::before,
        &::after {
            display: none;
        }
    }
}

footer {
    background: $color-0F0E0C;
}

.fancybox-navigation {
    .fancybox-button {

        span {
            background: url(../img/left-arrow-day.svg);
        }
    }
}

.preloader {
    background: $color-232323;
}