@import "../scss/media_mixins";
@import "../scss/mixins";
@import "../scss/vars";

body {
    background: $color-0A0908;
}

header {
    background: $gradient-2;
}

.btn {
    color: $color-FBFBFF;

    &_with-bg {
        background: fade-out($color-0A0908, 0.3);
    }

    svg {

        #btn-gradient {
            --color-stop-1: #FFD445;
            --color-stop-2: #BB7B15;
            --color-stop-3: #FFD445;
        }
    }
}

.phone {
    background-image: $gradient-1;
    color: $color-BB7B15;
}

.menu-block {
    &__adress {
        color: $color-6BADB8;
    }

    &__copiright {
        color: $color-6BADB8;
    }
}

.logo {
    background: url(../img/nav-logo-night.svg);
}

.day-night-switch {

    span {
        color: $color-6BADB8;

        &:first-child {
            background-image: $gradient-1;
            color: $color-BB7B15;
        }
    }
}

.date-time {

    span {
        &:last-child {
            color: $color-FFD445;
        }
    }
}

.title-block {
    &__subtitle {
        color: $color-6BADB8;
    }
}

.main-top-block {
    .title-block {
        bottom: 31%;
    }
}

.events,
.vacancies {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
    }

    &__bottom-bg {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 707px;
        width: 100%;
        z-index: 1;
    }
}

.vacancies::before,
.vacancies::after,
.vacancies .vacancies__bottom-bg::after,
.vacancies .vacancies__bottom-bg::before,
.events.events_page::before,
.events.events_page::after,
.events.events_page .events__bottom-bg::before,
.events.events_page .events__bottom-bg::after {
    content: '';
    position: absolute;
    width: 669px;
    height: 707px;
    background: url(../img/elipses-left.svg);
}

.vacancies::before,
.events.events_page::before {
    top: -390px;
    left: 0;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.vacancies::after,
.events.events_page::after {
    top: -390px;
    right: 0;
    transform: rotate(180deg);
}

.vacancies .vacancies__bottom-bg::before,
.events.events_page .events__bottom-bg::before {
    bottom: 0;
    left: 0;
}

.vacancies .vacancies__bottom-bg::after,
.events.events_page .events__bottom-bg::after {
    bottom: 0;
    right: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.vacancies {
    padding-bottom: 146px;

    &__items {
        position: relative;
        z-index: 2;
        width: 90%;
        margin: 0 auto;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__img {
        position: relative;
        width: 35%;

        &::after {
            content: '';
            position: absolute;
            top: 13px;
            left: 13px;
            right: 13px;
            bottom: 13px;
            border: 1px solid $color-BB7B15;
        }

        img {
            display: block;
            width: 100%;
        }
    }

    &__content {
        width: 60%;
        padding-top: 13px;
    }

    &__title {
        font-size: 30px;
        line-height: 100%;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: $gradient-1;
        color: $color-BB7B15;
        margin-bottom: 30px;
    }

    .see-more {
        margin-top: 20px;
    }
}

.events {
    padding-top: 90px;

    &::before {
        left: 0;
        top: 0;
        width: 100%;
        height: 123px;
        background: url(../img/elipses-top.svg);
    }

    &.events {

        &_page {

            .events {

                &__items {
                    position: relative;
                    z-index: 2;
                }

                &__item {
                    width: 48%;
                }
            }
        }
    }

    &__item {

        &::before {
            background: $gradient-4;
        }

        &::after {
            border: 1px solid $color-BB7B15;
        }
    }

    .swiper-buttons {
        padding-top: 217px;

        .swiper-button-next,
        .swiper-button-prev {
            background: url(../img/left-arrow-night.svg);
        }
    }

    &__back {
        margin-bottom: 68px;

        &::before {
            mask-image: url(../img/left-arrow-night.svg);
            mask-repeat: no-repeat;
            mask-size: 100% 100%;
            mask-position: center;
            background: $color-CCA43B;
        }
    }

    &__text {
        color: $color-A0A1A4;
    }
}

.food-menu {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 216px;

    &::before,
    &::after {
        content: '';
        position: absolute;
        bottom: -150px;
        background: url(../img/elipses-left.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        width: 669px;
        height: 707px;
        z-index: 3;
    }

    &::before {
        left: 30px;
    }

    &::after {
        right: 30px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    &__bg {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        max-width: 1142px;
        height: 100%;
        max-height: 686px;
        z-index: 2;

        @include mobile_sm {
            top: -33.6%;
        }

        @include mobile_md {
            top: -31.6%;
        }

        @include tablet_sm {
            top: -25.6%;
        }

        @include tablet {
            bottom: initial;
            top: -21.1%;
            width: 100%;
        }

        @include desktop {
            width: 94%;
        }

        @include desktop_xl {
            width: 78%;
        }
    }

    &__bg-left,
    &__bg-right {
        width: 50%;
        height: 100%;
        background: url(../img/food-menu-bg-1.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
    }

    &__bg-left {}

    &__bg-right {
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }
}

.food-menu-block {
    justify-content: center;
    height: 550px;

    @include tablet {
        flex-wrap: wrap;
        width: 100%;
        height: fit-content;
    }

    @include desktop {
        height: 440px;
    }

    @include desktop_xl {
        height: 490px;
    }

    &__rect {
        width: 440px;
        height: 440px;
        padding: 46px;
        transform: rotate(45deg);
        overflow: hidden;
        order: 2;

        @include mobile_sm {
            width: 210px;
            height: 210px;
            padding: 22px;
            margin: 0;
        }

        @include mobile_md {
            width: 240px;
            height: 240px;
            padding: 26px;
        }

        @include tablet_sm {
            width: 290px;
            height: 290px;
            padding: 30px;
        }

        @include tablet {
            order: 1;
            margin: 0px 10%;
        }

        @include desktop {
            width: 340px;
            height: 340px;
            padding: 38px;
        }

        @include desktop_xl {
            width: 380px;
            height: 380px;
            padding: 42px;
        }

        &::before {
            content: '';
            position: absolute;
            width: 200%;
            height: 200%;
            top: -50%;
            left: -50%;
            background: url(../img/food-menu-block__rect-bg.png);
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: 100% 100%;
            transform: rotate(-45deg);
        }
    }

    &__rect-item {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 100%;
        background: fade-out($color-0A0908, 0.07);
        z-index: 2;
    }

    &__text-bg {
        width: 75%;
        transform: rotate(-45deg);
    }

    .title-block {
        transform: rotate(-45deg);
        margin-bottom: 0;
    }
}

.food-menu-page-block {
    position: relative;

    &::before,
    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        width: 96%;
        height: 123px;
        margin: 0 auto;
        background: url(../img/elipses-top.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: 1;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
        transform: rotate(180deg);
    }

    &__list {

        li {
            border-bottom: 1px dashed $color-BB7B15;
        }

    }
}

.food-menu-items {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    @include tablet {
        width: 50%;
    }

    &:nth-child(2) {
        order: 1;

        @include mobile_md {
            padding-left: 0;
        }

        @include tablet_md {
            padding-left: 5%;
        }

        @include tablet {
            order: 2;
            padding-left: 15%;
        }

        .food-menu-items {
            &__text {
                text-align: right;
                margin-right: 50px;
            }
        }
    }

    &:nth-child(3) {
        order: 3;

        @include mobile_md {
            padding-right: 0;
        }

        @include tablet_md {
            padding-right: 5%;
        }

        @include tablet {
            padding-right: 15%;
        }

        .food-menu-items {
            &__item {
                flex-direction: row-reverse;
            }

            &__text {
                margin-left: 50px;
            }
        }
    }

    &__item {
        @include tablet {
            flex-direction: column-reverse !important;
            margin-top: 60px;
        }
    }

    &__icon {
        background: fade-out($color-0B0C0C, 0.8);
        border: 1px solid fade-out($color-BB7B15, 0.8);

        &::before {
            background: fade-out($color-0B0C0C, 0.3);
            border: 2px solid fade-out($color-BB7B15, 0.3);
        }

        i {

            &#food {
                background: url(../img/food-icon-night.svg);
            }

            &#bar {
                background: url(../img/bar-icon-night.svg);
            }

            &#hookah {
                background: url(../img/hookah-icon-night.svg);
            }

            &#wine {
                background: url(../img/wine-icon-night.svg);
            }
        }
    }

    &__text {
        width: 110px;
        color: $color-A0A1A4;

        @include tablet {
            margin: 40px 0 0 0 !important;
            text-align: center !important;
            height: 40px;
        }
    }
}

.gallery {

    &_three {

        .gallery-items {

            &__item {
                width: 33.333%;

                @include tablet_sm {
                    width: 100%;
                }

                @include desktop {
                    width: 50%;
                }
            }
        }
    }

    &_bg,
    &_bg-el,
    &_bg-el-bottom,
    &_bg-el-top {

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            background-repeat: no-repeat !important;
            background-position: center !important;
            background-size: cover !important;
            z-index: 1;
        }

        &::before {
            top: 0;
            width: 100%;
            height: 325px;
            background: url(../img/gallery-bg.png);
        }

        &::after {
            width: 96%;
            margin: 0 auto;
            bottom: 0;
            right: 0;
            height: 123px;
            background: url(../img/elipses-top.svg);
        }
    }

    &.gallery {
        &_bg {
            padding-top: 190px;
            padding-bottom: 123px;
            margin-top: 55px;
            margin-bottom: 127px;
        }

        &_bg-el {
            padding-top: 0;
            padding-bottom: 253px;

            &::before,
            &::after {
                background: url(../img/elipses-top.svg);
                height: 123px;
                width: 100%;
            }

            &::before {
                top: -123px;
                transform: rotate(180deg);
            }

            &::after {
                bottom: 130px;
            }
        }

        &_bg-el-bottom {
            padding-top: 0;
            padding-bottom: 253px;

            &::before {
                display: none;
            }

            &::after {
                background: url(../img/elipses-top.svg);
                height: 123px;
                width: 100%;
                bottom: 130px;
            }
        }

        &_bg-el-top {
            padding-top: 0;
            padding-bottom: 126px;

            &::before {
                background: url(../img/elipses-top.svg);
                height: 123px;
                width: 100%;
                top: -123px;
                transform: rotate(180deg);
            }

            &::after {
                display: none;
            }
        }
    }
}

.gallery-items {
    &__item {
        width: 50%;

        @include tablet_md {
            width: 100%;
            max-height: 400px;
        }

        &::after {
            border: 1px solid $color-BB7B15;
        }

        &:nth-child(1n) {
            .gallery-items {
                &__description-bg {
                    background: fade-out($color-0B0C0C, 0.05);
                }
            }

        }

        &:nth-child(2n) {
            .gallery-items {
                &__description {
                    align-items: flex-end;
                }

                &__description-bg {
                    background: fade-out($color-0B0C0C, 0.4);
                }
            }

        }
    }

    &__description,
    &__description-bg {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 154px;
        width: 100%;
    }

    &__description {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        z-index: 3;
        padding: 30px;
    }

    &__description-bg {
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            mask-image: url(../img/lines-bg.svg);
            mask-repeat: repeat;
            mask-position: left;
            background: fade-out($color-BB7B15, 0.4);
        }
    }

    &__description-title {
        font-size: 32px;
        line-height: 100%;
        margin-bottom: 14px;

        @include tablet_sm {
            font-size: 22px;
        }

        @include tablet {
            font-size: 26px;
        }

        @include desktop {
            font-size: 28px;
        }

        @include desktop_xl {
            font-size: 30px;
        }
    }
}

.about-us {

    &::before,
    &::after {
        content: '';
        position: absolute;
        left: 0;
        background-repeat: no-repeat !important;
        background-size: 100% 100% !important;
        background-position: center !important;
    }

    &::before {
        top: -102px;
        width: 615px;
        height: 610px;
        background: url(../img/about-us-bg-1.png);
    }

    &::after {
        top: 208px;
        width: 669px;
        height: 707px;
        background: url(../img/elipses-left.svg);
    }
}

.about-us-block {

    .title-block {
        text-align: left;
        color: $color-FBFBFF;
    }

    &__text {
        width: 50%;
        color: $color-A0A1A4;
    }

    &__video {
        width: 50.4%;
        margin-right: -11.69%;

        @include desktop {
            margin-top: 25px;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            z-index: 2;
        }

        &::before {
            right: -13px;
            border: 1px solid $color-BB7B15;

            @include desktop {
                right: 13px;
            }
        }

        &::after {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            background: url(../img/play-icon.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
            width: 47px;
            height: 98px;
        }

        &:hover {
            img {
                transform: scale(1.15);
            }
        }
    }

    &__text-bottom {
        width: 100%;
        color: $color-A0A1A4;
        margin-top: 136px;
    }
}

.see-more {
    color: $color-6BADB8;
    display: block;
}

.club-scheme {
    background: url(../img/club-shame-bg-night.png);

    &::after {
        background: url(../img/eclipses-right.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 758px;
        height: 121px;
    }

    .title-block {
        width: 100%;
    }
}

.form-block {

    form {

        input {
            border-bottom: 1px solid $color-BB7B15;
        }
    }
}

.map-contacts-block {

    &__content {

        &::before {
            mask-image: url(../img/lines-bg-footer.svg);
            mask-repeat: repeat;
            mask-position: left;
            // background: fade-out($color-171513, 0.8);
            background: $color-171513;
        }

        .date-time {

            span {
                &:last-child {
                    color: $color-BB7B15;
                }
            }
        }
    }
}

footer {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        mask-image: url(../img/lines-bg-footer.svg);
        mask-repeat: repeat;
        mask-position: left;
        // background: fade-out($color-171513, 0.8);
        background: $color-171513;
        z-index: 1;
    }
}