@import "media_mixins";
@import "mixins";
@import "vars";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --swiper-navigation-size: fit-content;
}

html,
body {
    overflow-x: hidden;
}

body {
    font-family: 'Circe-Regular';
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;
    color: $color-FBFBFF;
    width: 100%;

    @include mobile {
        font-size: 15px;
    }

    @include tablet_sm {
        font-size: 16px;
    }

    @include desktop {
        font-size: 17px;
    }

    @include desktop_xl {
        font-size: 18px;
    }
}

a {
    color: $color-FBFBFF;
}

p {
    margin-bottom: 25px;

    &:last-child {
        margin-bottom: 0;
    }
}

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 140px;
    z-index: 1000;

    @include mobile_sm {
        height: 80px;
    }

    @include desktop {
        height: 100px;
    }

    @include desktop_xl {
        height: 120px;
    }

    .menu {
        margin-top: 25px;

        @include tablet {
            width: 80%;
            justify-content: space-between;
            margin-bottom: 60px;
        }

        @include desktop {
            margin-top: 0;
        }

        @include desktop_xl {
            margin-top: 16px;
        }

        li {

            @include mobile_sm {
                font-size: 16px;
            }

            @include mobile {
                font-size: 18px;
            }

            @include tablet {
                font-size: 20px;
            }
        }
    }

    .menu-block {

        @include tablet {
            order: 1;
        }

        @include desktop {
            order: 2;
        }

        &_left {
            width: 39%;

            @include desktop {
                width: initial;
            }
        }

        &_right {
            width: 38%;

            @include tablet {
                width: initial;
            }

            @include desktop {
                width: 59%;
            }
        }
    }

    .logo {

        @include desktop {
            order: 1;
        }
    }

    .day-night-switch {
        &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 1px;
            background: $gradient-9;

            @include tablet {
                display: none;
            }
        }
    }
}

nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    z-index: 2;

    .btn {
        margin-left: 30px;

        @include tablet {
            margin-left: 0;
        }

        @include desktop_xl {
            margin-left: 15px;
        }
    }
}

.phone {
    font-family: 'Circe-Bold';
    font-weight: bold;
    font-size: 28px;
    line-height: 100%;
    text-transform: uppercase;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    @include desktop {
        font-size: 24px;
    }

    @include desktop_xl {
        font-size: 26px;
    }
}

.menu-block {

    &_right {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__contacts {
        display: flex;
        align-items: flex-end;
        height: fit-content;

        @include tablet_sm {
            margin-top: 40px;
        }

        @include desktop {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__adress {
        font-size: 18px;
        border-bottom-width: 1px;
        border-bottom-style: dashed;
        margin-left: 48px;
        margin-bottom: 5px;
        height: 20px;

        @include desktop {
            margin-left: 0;
            margin-top: 6px;
            font-size: 16px;
        }
    }

    &__copiright {
        font-size: 16px;
        margin-top: 25px;

        @include tablet_md {
            margin-top: 50px;
        }
    }
}

.menu {
    display: flex;

    @include tablet_md {
        flex-direction: column;
        align-items: center;
    }

    li {
        margin-right: 30px;

        @include tablet_md {
            margin-right: 0;
            margin-bottom: 40px;
            text-align: center;

            &:last-child {
                margin-bottom: 0;
            }
        }

        @include desktop_xl {
            margin-right: 25px;
        }

        &:last-child {
            margin-right: 0;
        }

        a {
            position: relative;
            transition: 0.6s $ease-in-out-sine;
            overflow: hidden;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 0;
                height: 1px;
                transition: 0.6s $ease-in-out-sine;
            }

            &:hover {
                &::after {
                    width: 100%;
                }
            }
        }
    }
}

.logo {
    display: block;
    width: 84px;
    height: 118px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 100% 100% !important;

    @include mobile_sm {
        width: 51px;
        height: 65px;
    }

    @include desktop {
        width: 65px;
        height: 83px;
    }

    @include desktop_xl {
        width: 80px;
        height: 102px;
    }
}


.day-night-switch {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-right: 30px;

    @include tablet {
        padding-right: 0;
        margin-bottom: 40px;
    }

    @include desktop_lg {
        padding-right: 25px;
    }

    span {
        font-family: "Theanodidot";
        font-size: 17px;
        font-weight: normal;
        line-height: 26px;

        @include desktop {
            font-size: 14px;
        }

        @include desktop_xl {
            font-size: 15px;
        }

        &:first-child {
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 30px;
            font-weight: normal;
            text-transform: uppercase;
            line-height: 46px;

            @include desktop {
                font-size: 24px;
            }

            @include desktop_xl {
                font-size: 26px;
            }
        }
    }
}

.date-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 30px;

    @include tablet {
        margin-left: 0;
    }

    @include desktop_xl {
        margin-left: 15px;
    }

    span {
        &:last-child {
            margin-top: 6px;
        }
    }
}

.btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: fit-content;
    padding: 0 40px;
    padding-top: 2px;
    padding-left: 40px;
    padding-right: 40px;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 100%;
    outline: none;
    border: none;
    border-radius: 0;
    background: transparent;
    cursor: pointer;
    transition: 0.6s $ease-out-sine;

    @include mobile_sm {
        font-size: 13px;
        height: 40px;
        padding-top: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }

    @include tablet {
        font-size: 14px;
        height: 44px;
    }

    @include desktop {
        font-size: 15px;
        height: 48px;
    }

    @include desktop_xl {
        font-size: 16px;
        padding-left: 25px;
        padding-right: 25px;
        height: 60px;
    }

    &:hover {
        box-shadow: $shadow-2;

        svg {

            #btn-gradient {
                --color-stop-1: #FBFBFF;
                --color-stop-2: #FBFBFF;
                --color-stop-3: #FBFBFF;
            }

            rect {

                &:nth-child(1) {
                    stroke-width: 0;
                }
            }
        }
    }

    &_with-bg {
        height: 50px;

        @include desktop_xl {
            height: 46px;
        }
    }

    &_left-pos {
        margin-top: 85px;
    }

    &_center-pos {
        position: absolute;
        bottom: 27px;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 2;
    }

    svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        rect {
            stroke: url(#btn-gradient);

            &:nth-child(1) {
                stroke-width: 2px;
            }

            &:nth-child(2) {
                stroke-width: 1px;
            }
        }
    }
}

.mob-switch {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 69px;
    height: 48px;
    margin-left: 24px;

    @include mobile_sm {
        width: 50px;
        height: 40px;
    }

    @include mobile_md {
        margin-left: 15px;
    }

    @include tablet {
        height: 44px;
        width: 62px;
    }

    &::after {
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        right: 3px;
        bottom: 3px;
    }

    span {
        display: block;
        width: 60%;
        height: 2px;
        margin-bottom: 6px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.mob-menu {
    position: fixed;
    top: 100px;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 60px 0;
    opacity: 0;
    visibility: hidden;

    @include tablet {
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

.main-top-block,
.title-top-block {
    .title-block {
        &__title {
            font-family: 'Circe-Regular';
            font-size: 72px;

            @include tablet_sm {
                font-size: 50px;
            }

            @include tablet {
                font-size: 63px;
            }

            @include desktop {
                font-size: 66px;
            }

            @include desktop_xl {
                font-size: 69px;
            }
        }

        &__subtitle {
            font-size: 30px;

            @include tablet_sm {
                font-size: 22px;
            }

            @include tablet {
                font-size: 24px;
            }

            @include desktop {
                font-size: 26px;
            }

            @include desktop_xl {
                font-size: 28px;
            }
        }
    }
}

.main-top-block {
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 568px;

    &__content {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__bg {
        display: block;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
    }

    .title-block {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        height: fit-content;

        &__title {
            text-shadow: $shadow-1;
            text-transform: capitalize;
        }

        &__subtitle {
            text-shadow: $shadow-1;
            text-transform: capitalize;
        }
    }

    .big-logo-night {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 8%;
        margin: auto;
        z-index: 1;
        height: 58%;
    }

    &__girl-left,
    &__girl-right {
        height: 65%;
        position: relative;
        z-index: 2;
    }

    &__girl-left {
        margin-right: 24%;
    }
}

.title-block {
    position: relative;
    text-align: center;
    z-index: 3;
    margin-bottom: 40px;

    &__title {
        font-family: "Theanodidot";
        font-size: 60px;
        line-height: 100%;

        @include tablet_sm {
            font-size: 37px;
        }

        @include tablet {
            font-size: 50px;
        }

        @include desktop {
            font-size: 53px;
        }

        @include desktop_xl {
            font-size: 56px;
        }
    }

    &__subtitle {
        font-size: 32px;
        line-height: 100%;

        @include tablet_sm {
            font-size: 22px;
        }

        @include tablet {
            font-size: 26px;
        }

        @include desktop {
            font-size: 28px;
        }

        @include desktop_xl {
            font-size: 30px;
        }
    }
}

.title-top-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 390px;

    @include tablet_md {
        height: 300px;
    }

    @include tablet {
        height: 320px;
    }

    .title-block {
        margin-bottom: 70px;
    }

    &__bg {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: center;
    }
}

.container {
    width: 81%;
    margin: 0 auto;

    @include desktop {
        width: 90%;
    }
}

.container-big {
    width: 96%;
    margin: 0 auto;
}

.promo-page-section {
    display: flex;
    width: 100%;
    height: 100vh;
    background: url(../img/promo-page-main-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include desktop {
        height: fit-content;
    }

    .promo-page-block {
        position: relative;
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include tablet_sm {
            margin-top: 40px;
        }

        @include desktop {
            margin-top: 80px;
        }

        .logo {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: fit-content;
            width: 40.2%;
            min-width: 342px;

            @include mobile_sm {
                min-width: 274px;
            }

            @include mobile_md {
                min-width: 300px;
            }

            @include desktop {
                position: relative;
            }

            img {
                display: block;
                width: 100%;
            }
        }

        .day-and-night-block {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @include desktop {
                justify-content: space-around;
            }

            .day-block-item,
            .night-block-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                width: 34%;
                max-width: 318px;
                min-width: 250px;
                margin-top: 107px;

                .title-block {
                    position: relative;
                    font-family: "Theanodidot";

                    span {
                        position: relative;
                        display: block;
                        color: $color-828A95;
                        line-height: 100%;
                        font-size: 36px;
                        z-index: 2;

                        @include tablet {
                            font-size: 28px;
                        }

                        &:first-child {
                            font-size: 64px;
                            color: $color-FE5700;
                            text-transform: uppercase;

                            @include tablet {
                                font-size: 58px;
                            }
                        }
                    }

                    i {
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        width: 98px;
                        height: 98px;
                        border: 1px solid $color-424B54;
                        position: absolute;
                        z-index: 1;
                        transform: rotate(45deg);

                        @include tablet {
                            width: 80px;
                            height: 80px;
                        }

                        &::before,
                        &::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            margin: auto;
                        }

                        &::before {
                            border: 2px solid $color-424B54;
                            width: 90%;
                            height: 90%;
                        }

                        &::after {
                            background: url(../img/logo-head-hover.svg);
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 100% 100%;
                            width: 50%;
                            height: 40%;
                            transform: rotate(-45deg);
                        }
                    }
                }

                .date-time-block {
                    font-family: "Circe-Light";
                    font-size: 24px;
                    color: $color-FBFBFF;
                    margin-top: 22px;

                    @include tablet {
                        font-size: 20px;
                        margin-top: 18px;
                    }
                }

                .hidden-block {
                    font-family: "Circe-Light";
                    font-size: 18px;
                    color: $color-828A95;
                    width: 78%;
                    margin-top: 5px;

                    @include tablet {
                        font-size: 17px;
                    }
                }
            }
        }

        .contacts-block {
            font-family: "Circe-Regular";
            font-size: 48px;
            color: $color-828A95;
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 39px;

            @include mobile_sm {
                font-size: 23px;
            }

            @include mobile_md {
                text-align: center;
            }


            @include mobile {
                font-size: 26px;
            }

            @include tablet_sm {
                font-size: 32px;
                margin-top: 80px;
                margin-bottom: 20px;
            }

            @include tablet_md {
                font-size: 36px;
            }

            @include desktop {
                flex-direction: column;
                align-items: center;
                margin-top: 100px;
                margin-bottom: 60px;
            }

            @include desktop_lg {
                font-size: 40px;
            }

            @include desktop_xl {
                font-size: 44px;
            }

            a {
                color: $color-FE5700;
            }

            span {
                font-family: "Circe-Bold";
                color: $color-FE5700;

                @include mobile_md {
                    display: block;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.events,
.promotions {
    position: relative;

    &.events,
    &.promotions {
        &_page {
            padding-top: 0;

            .events,
            .promotions {

                &__items {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    padding-bottom: 126px;
                }

                &__item {
                    margin-bottom: 34px;

                    @include tablet_md {
                        margin-bottom: 15px;
                    }

                    @include tablet {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }

    &__item {
        position: relative;
        overflow: hidden;

        &::before,
        &::after {
            content: '';
            position: absolute;
        }

        &::before {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
        }

        &::after {
            top: 13px;
            left: 13px;
            right: 13px;
            bottom: 13px;
            z-index: 3;
        }

        &:hover {
            .btn {
                &_center-pos {
                    opacity: 1;
                    visibility: visible;
                }
            }

            img {
                transform: scale(1.15);
            }
        }

        .btn {
            &_center-pos {
                opacity: 0;
                visibility: hidden;
            }

            z-index: 4;
        }

        &_content,
        &_bottom {

            &::before,
            &::after {
                display: none;
            }
        }

        &_img {
            height: fit-content;
        }

        img {
            display: block;
            width: 100%;
            transform: scale(1);
            transition: 1.3s $ease-in-out-sine;
        }
    }

    &__back {
        display: flex;
        align-items: center;
        font-size: 22px;
        text-transform: uppercase;
        height: 50px;

        &::before {
            content: '';
            width: 25px;
            height: 50px;
            margin-right: 25px;
        }
    }

    .swiper-container {
        position: initial;

        .swiper-buttons {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            width: 100%;
            height: fit-content;
            padding-left: 6%;
            padding-right: 6%;
            display: flex;
            justify-content: space-between;

            @include desktop {
                padding-left: 1%;
                padding-right: 1%;
            }

            .swiper-button-next,
            .swiper-button-prev {
                position: initial;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                background-position: center;
                width: 25px;
                height: 50px;
                left: initial;
                top: initial;
                right: initial;
                bottom: initial;
                display: none;

                @include tablet {
                    width: 20px;
                    height: 40px;
                }

                &::after {
                    display: none;
                }
            }

            .swiper-button-next {
                transform: rotate(180deg);
            }
        }
    }
}

.food-menu-block {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 4;

    .title-block {
        margin-bottom: 0;
    }

    &__text-bg {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.food-menu-page-block {
    padding-bottom: 180px;
    padding-top: 130px;

    .container {
        display: flex;
        justify-content: space-between;
    }

    .food-menu-items {
        flex-direction: column;
        width: 25%;
        padding-top: 20px;
        padding-bottom: 20px;

        @include tablet_md {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $color-232323;
            padding: 60px 5%;
            overflow-y: scroll;
            overflow-x: hidden;
            display: none;
            opacity: 0;
            visibility: hidden;
            z-index: 2000;
        }

        @include tablet {
            width: 25%;
        }

        @include desktop_xl {
            width: 37%;
        }

        &__item {
            flex-direction: row-reverse !important;
            justify-content: flex-end;
            padding-left: 20px;
            margin-bottom: 70px;

            @include tablet {
                padding-left: 0;
                margin-bottom: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__text {
            margin-left: 50px !important;
            margin-top: 0 !important;
            height: initial !important;

            @include tablet {
                margin-left: 0 !important;
                text-align: left !important;
                width: initial !important;
            }
        }

        &__icon {
            width: 94px;
            height: 94px;

            @include tablet {
                display: none;
            }
        }

        &__dropdown {
            margin-left: 164px;
            margin-top: -60px;
            margin-bottom: 50px;

            @include tablet {
                margin-left: 40px;
                margin-top: 40px;
                margin-bottom: 0;
            }

            li {
                margin-bottom: 10px;

                @include tablet {
                    margin-bottom: 25px;
                }

                a {
                    font-family: 'Circe-Light';
                    font-weight: 350;
                    font-size: 18px;

                    @include mobile {
                        font-size: 15px;
                    }

                    @include tablet_sm {
                        font-size: 15px;
                    }

                    @include desktop {
                        font-size: 16px;
                    }

                    @include desktop_xl {
                        font-size: 17px;
                    }
                }
            }
        }
    }

    &__content {
        width: 70%;

        @include tablet_md {
            width: 100%;
        }

        @include tablet {
            width: 70%;
        }

        @include desktop_xl {
            width: 59%;
        }
    }

    &__title {
        width: 100%;
        text-align: center;
        font-family: 'Theanodidot';
        font-weight: normal;
        font-size: 50px;
        margin-bottom: 45px;
        margin-top: 70px;
        line-height: 100%;

        @include tablet_sm {
            font-size: 28px;
        }

        @include tablet_md {
            text-align: left;
        }

        @include tablet {
            font-size: 32px;
        }

        @include desktop {
            font-size: 34px;
        }

        @include desktop_xl {
            font-size: 42px;
        }

        &:first-child {
            margin-top: 0;
        }
    }

    &__list {

        li {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }

    }

    &__list-name {
        margin-right: 10px;
        width: 58%;
    }

    &__list-right {
        width: 38%;
        display: flex;
        justify-content: space-between;

        span {
            display: block;
            white-space: nowrap;

            &:first-child {
                font-family: 'Circe-Light';
                font-weight: 350;
                font-size: 18px;
                margin-right: 90px;

                @include mobile {
                    font-size: 14px;
                }

                @include tablet_sm {
                    font-size: 15px;
                }

                @include tablet_md {
                    margin-right: 10px;
                }

                @include desktop {
                    font-size: 16px;
                }

                @include desktop_xl {
                    font-size: 17px;
                }
            }
        }
    }
}

.food-menu-items {
    display: flex;

    &__item {
        display: flex;
        align-items: center;
    }

    &__icon {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotate(45deg);

        &::before {
            content: '';
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
        }

        i {
            display: block;
            height: 50%;
            width: 50%;
            transform: rotate(-45deg);
            background-position: center !important;
            background-size: 100% 100% !important;
            background-repeat: no-repeat !important;
        }
    }

    &__text {
        text-transform: uppercase;
        font-size: 24px;
        line-height: 100%;

        @include mobile_sm {
            font-size: 14px;
        }

        @include mobile {
            font-size: 15px;
        }

        @include tablet_sm {
            font-size: 16px;
        }

        @include desktop {
            font-size: 19px;
        }

        @include desktop_xl {
            font-size: 22px;
        }
    }
}

// .food-menu-items__item.active+.food-menu-items__dropdown {
//     display: block;
// }

// .food-menu-items__dropdown {
//     display: none;
// }

.food-menu-switch,
.close-popup {

    i {
        position: relative;
        display: flex;
        align-items: center;
        width: 20px;
        height: 16px;
    }

    span {
        display: block;
        width: 100%;

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
        }
    }
}

.food-menu-switch {
    display: none;
    margin-bottom: 60px;
    margin-left: 5%;
    font-size: 20px;
    text-transform: uppercase;

    @include mobile {
        font-size: 18px;
    }

    @include tablet_md {
        display: flex;
    }

    i {
        margin-right: 15px;
    }

    span {
        height: 2px;

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }
    }
}

.close-popup {
    position: fixed;
    display: flex;
    align-items: center;
    right: 40px;
    top: 40px;

    span {

        &::before,
        &::after {
            top: 0;
            right: 0;
            bottom: 0;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }
}

.gallery {
    position: relative;
}

.gallery-items {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;

    &__item {
        position: relative;
        overflow: hidden;

        &::after {
            content: '';
            position: absolute;
            top: 13px;
            left: 13px;
            right: 13px;
            bottom: 13px;
            z-index: 2;
        }

        &:hover {
            img {
                transform: scale(1.15);
            }
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transform: scale(1);
            transition: 1.3s $ease-in-out-sine;
        }
    }
}

.about-us {
    position: relative;
}

.about-us-block {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 3;

    &__text {

        @include desktop {
            width: 100% !important;
        }
    }

    &__video {
        height: fit-content;
        position: relative;
        overflow: hidden;

        @include desktop {
            width: 100% !important;
            max-height: 340px;
        }

        &::before {
            content: '';
            position: absolute;
            z-index: 2;
        }

        &::before {
            top: 13px;
            left: 13px;
            bottom: 13px;
        }

        img {
            display: block;
            width: 100%;
            transform: scale(1);
            transition: 1.3s $ease-in-out-sine;
        }
    }
}

.club-scheme {
    position: relative;
    margin-top: 150px;
    padding-bottom: 150px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;

    @include mobile {
        margin-top: 80px;
        padding-bottom: 80px;
    }

    @include tablet_md {
        margin-top: 90px;
        padding-bottom: 120px;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        background: url(../img/eclipses-right.svg);
        background-position: center !important;
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        z-index: 2;

        @include tablet {
            flex-direction: column;
            align-items: center;
        }
    }

    &__title-block-wrapper {
        width: 100%;
    }

    &__shame {
        width: 75%;

        @include mobile {
            padding-top: 50%;
            padding-bottom: 60%;
        }

        @include tablet_sm {
            padding-top: 40%;
            padding-bottom: 55%;
        }

        @include tablet {
            width: 100%;
            padding-top: 30%;
            padding-bottom: 35%;
        }

        svg {

            @include mobile {
                width: 200%;
                margin-left: -50%;
            }

            @include tablet_sm {
                width: 150%;
                margin-left: -25%;
            }

            @include tablet {
                transform: rotate(90deg);
                width: 100%;
            }
        }
    }

    .form-block {
        width: 23%;

        @include mobile_md {
            width: 90%;
        }

        @include mobile {
            width: 80%;
        }

        @include tablet_sm {
            width: 60%;
        }

        @include tablet {
            width: 50%;
        }
    }
}

.form-block {

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        input {
            width: 100%;
            background: transparent;
            border-radius: 0;
            border: 0;
            outline: none;
            padding-bottom: 10px;
            text-align: center;
            font-size: 20px;
            line-height: 100%;
            margin-bottom: 46px;
            color: $color-FBFBFF;

            @include mobile {
                font-size: 15px;
            }

            @include tablet_sm {
                font-size: 16px;
            }

            @include desktop {
                font-size: 17px;
            }

            @include desktop_xl {
                font-size: 18px;
            }

            &::placeholder {
                color: $color-FBFBFF;
            }
        }
    }

    .btn {
        width: 230px;
        height: 43px;
    }

    &__description {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 69px;
    }

    .phone {
        margin-top: 20px;
    }
}

.form-popup {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2000;
    background: $color-232323;
    opacity: 0;
    visibility: hidden;
}

.map {
    position: relative;
    height: 599px;

    @include tablet {
        height: initial;
        display: flex;
        flex-direction: column;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 53px;
        background: $gradient-5;
    }

    &_map-page {
        height: calc(100vh + 150px);

        &.map {
            #map {

                @include tablet {
                    height: 100vh;
                    min-height: 568px;
                }
            }
        }
    }

    #map {
        width: 100%;
        height: 100%;

        @include tablet {
            height: 500px;
        }
    }


}

.map-contacts-block {
    position: absolute;
    top: -43px;
    left: 0;
    width: 41.32%;
    max-width: 654px;
    min-width: 470px;
    height: 532px;
    padding: 43px 43px 43px 0;
    background: $color-0F0E0C;
    z-index: 2;

    @include mobile_sm {
        padding: 15px;
    }

    @include mobile_md {
        padding: 23px;
    }

    @include tablet_sm {
        padding: 33px;
    }

    @include tablet {
        position: relative;
        width: 100%;
        max-width: initial;
        min-width: initial;
        top: 0;
        padding: 43px;
        order: 2;
    }

    &_map-page {
        top: 28%;
    }

    &__content {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: fade-out($color-0A0908, 0.33);

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        a,
        div {
            position: relative;
            z-index: 2;
        }
    }

    &__title {
        font-family: "Theanodidot";
        font-size: 48px;
        line-height: 100%;
        margin-bottom: 30px;

        @include tablet_sm {
            font-size: 30px;
        }

        @include tablet {
            font-size: 40px;
        }

        @include desktop {
            font-size: 42px;
        }

        @include desktop_xl {
            font-size: 44px;
        }
    }

    .phone {
        margin-bottom: 28px;
    }

    &__adress {
        margin-bottom: 18px;
    }

    .date-time {
        flex-direction: row;
        margin-bottom: 18px;

        span {
            &:last-child {
                margin-left: 6px;
                margin-top: 0;
            }
        }
    }

    &__social {
        display: flex;
        justify-content: center;
        margin-bottom: -40px;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 72px;
            height: 72px;
            border: 1px solid $color-FBFBFF;
            transform: rotate(45deg);
            margin: 40px 32px;

            @include mobile_sm {
                width: 52px;
                height: 52px;
            }

            @include mobile {
                width: 62px;
                height: 62px;
            }

            &::before {
                content: '';
                position: absolute;
                top: 2px;
                left: 2px;
                right: 2px;
                bottom: 2px;
                border: 2px solid $color-FBFBFF;
            }

            img {
                display: block;
                width: 40%;
                transform: rotate(-45deg);
            }
        }
    }
}

footer {
    height: 124px;

    @include tablet {
        height: initial;
        padding: 60px 0;
    }

    nav {
        @include tablet {
            flex-direction: column;
        }
    }

    .logo {
        @include tablet {
            width: 84px;
            height: 118px;
            order: 1;
        }
    }

    .menu-block {

        @include tablet {
            flex-direction: column;
            text-align: center;
            margin-top: 50px;
        }

        &_left {
            @include tablet {
                order: 3;
            }
        }

        &_right {
            @include tablet {
                order: 2;
            }
        }
    }

    .menu {
        @include tablet {
            margin-top: 40px;
        }
    }
}

.fancybox-navigation {
    .fancybox-button {
        width: 65px;
        height: 130px;
        background: none;

        span {
            display: block;
            background-repeat: no-repeat !important;
            background-position: center !important;
            background-size: 100% 100% !important;
            width: 100%;
            height: 100%;
        }

        &--arrow_right {
            span {
                transform: rotate(180deg);
            }
        }
    }
}